@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;  /* centers horizontally */
  align-items: center;      /* centers vertically */
  height: 100vh;            /* full viewport height */
  margin: 0;  
}

#gameContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#scorePanel {
  flex-direction: column;
  margin-left: 150px;
  padding: 1px;
  margin-right: 150px;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  color: #fff;
}

#scoreBoard,
#highScoreBoard {
  margin-bottom: 10px;
}

#canvasBox{
  background: coral;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  top: 20%;
  left: 5%;
}

#name{
    color: aqua;
}

#ball {
  width: 150px;
  height: auto;
  display: block;
  position: absolute; 
  top: 20%;
  left: 5%;
 
}

#resetButton {
  margin: 200px;
  padding: 10px 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: #fff;
  background-color: #00bcd4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#resetButton:hover {
  background-color: #0097a7;
}

